{{> head }} 

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Etiqueta</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, eum eos? Laboriosam voluptate aliquid non, iure repellendus aut sit, alias ab expedita maiores cum quis delectus possimus eaque reprehenderit id?
    </div>

    <div class="col-4">
        <img src="assets/img/descarga.svg" alt="Imagen" class="img-thumbnail">
    </div>
</div>

{{> footer }}